{% extends "layout.html" %}

{% block title %}KINEPIK API Documentation {% endblock %}

{% block content %}

<!-- <div class="document-container">
    <div class="document-sidebar">
        <h2>API routes</h2>
        <ul>
            <li>Introduction</li>
            <li>api/proteins</li>
            <li>api/kinases</li>
            <li>api/inhibitor</li>
            <li>api/sif</li>
        </ul>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button">Home</a>
            <a href="#" class="w3-bar-item w3-button">Link 1</a>
            <a href="#" class="w3-bar-item w3-button">Link 2</a>
            <a href="#" class="w3-bar-item w3-button">Link 3</a>
        </div>

    </div>
</div> -->

    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">API Documentation</h3>
            <ul>
                <li><a href="#" class="w3-bar-item w3-button">Introduction</a></li>
                <li><a href="#" class="w3-bar-item w3-button">api/proteins</a></li>
                <li><a href="#" class="w3-bar-item w3-button">api/kinases</a></li>
                <li><a href="#" class="w3-bar-item w3-button">api/inhibitor</a></li>
                <li><a href="#" class="w3-bar-item w3-button">api/sif</a></li>
            </ul>
    </div>
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>My Page</h1>
        </div>
        <div class="w3-container">
            <h2>Sidebar Navigation Example</h2>
            <p>The sidebar with is set with "style="width:25%".</p>
            <p>The left margin of the page content is set to the same value.</p>
        </div>
    </div>

    <!-- <div class="document-container">
        <div class="sidebar">
            <div class="section">
                <button class="section-toggle">Introduction</button>
            </div>
            <div class="section">
                <button class="section-toggle">api/proteins</button>
                <div class="subsection">
                    <a href="#" data-page="api-proteins-data">Available data</a>
                    <a href="#" data-page="api-proteins-Example">How to use</a>

                </div>
            </div>
        </div>

        <div class="document-content" id="document-content">
            <h2>Welcome to the API Documentation</h2>
            <p>Select a topic to get started</p>
        </div>
    </div> -->

{% endblock %}